


body {
  min-width: none;
  height: 100%;
  min-height: nonepx;
  xxbackground: url('../images/Mega_Sait_totalt.jpg') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left top;
  font-size: 1em;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
  margin:0;
}




/* ----------------------------- [MAIN MENU] --------------------------- */
.main-menu {
  float: left;
  width: 52.8124999999%;
  height: 110px;
  margin-left: 23.59375%;
  xxbackground:blue;
  xxxxopacity:0.5;
}

.main-menu>ul{
xxposition:relative;
list-style:none;
margin-top:45px;

}

.main-menu>ul>li{
position:relative;
float:left;
width:20.0%;
xxbackground:red;
text-align:right;
border-style:solid;
border-width: 2px;
border-color:white;
}


.main-menu>ul>li:first-child{
text-align:left;
}

.main-menu>ul>li:nth-child(2){
text-align:left;
}

.main-menu>ul>li:nth-child(3){
text-align:left;
}


.main-menu>ul>li>a{
position:relative;
color:black;
font-size:18px;
font-family: Helvetica;
text-decoration:none;
text-transform:uppercase;

xxborder-style:solid;
xxborder-width: 2px;
xxborder-color:green;
}

.main-menu>ul>li:first-child>a:link span{
 padding: 42px 0px;
border-top-style:solid;
border-top-width: 3px;
border-top-color:black; 
}

.main-menu>ul>li>a:link span{
 padding: 42px 0px;
border-top-style:solid;
border-top-width: 3px;
border-top-color:white; 
}

.main-menu>ul>li>a:hover span{
border-top-color:black;
}

.main-menu>ul>li>a:visited span{
border-top-color:red;
}



.logo-menu{
  position:absolute;
  display: block;
  margin-top:-45px;
  margin-left:-50px;
  z-index: 100;
  width:278px;

  height:150px;
  padding:0px;
}


/* ----------------------------- [BANNER] --------------------------- */
.banner {
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  border: 1px solid rgb(255, 0, 0);
  background: red;
  overflow-x: hidden;
}




/* ----------------------------- [ADVANTAGES] --------------------------- */
.ouradvantages, .partners {
  float: left;
  clear: both;
  width: 52.80625%;
  height: 397px;
  margin-left: 23.59945%;
  xxopacity:0.5;
}


.ouradvantages h2, .news h2, .partners h2, .contacts h2{
font-size:30.5px;
font-family: Arial;
font-weight: 700;
text-align:center;
text-transform: uppercase;
margin-top:40px;
margin-left:15px;
}


.ouradvantages>ul, .partners>ul{
list-style:none;
margin-top:50px;
}

.ouradvantages>ul>li, .partners>ul>li{
float:left;
width:25.0%;
text-align:center;
font-size:18px;
font-family:Helvetica;
}

.ouradvantages>ul img, .partners>ul img{
display:block;
width:163px; 
height:auto;    
margin-left: auto;
margin-right: auto;
}

.ouradvantages>ul a, .partners>ul a{
  color:black;
}

.ouradvantages>ul p{
  xxdisplay: block;
padding-top:27px;
xxxxopacity:0.5;
}





/* ----------------------------- [NEWS] --------------------------- */
.news {
  float: left;
  clear: both;
  width: 52.8124999999%;
  height: 610px;
  margin-left: 23.59375%;
    background:#e8e8e8;
    xxopacity:0.5;
}

.news h2{
  margin-bottom:40px;

}


.news-row1{
  float:left;
  width:50%; 
  height: 230px; 
}


.news-row1-article{
  float:left; 
  width:50%; 
  height:230px; 
  background-color:white;
}


.news-row2{
float:right; 
width:50%; 
margin-top:0px;
}


.news-row2-article{
  float:right; 
  width:50%; 
  height:230px; 
  margin-top:0px; 
  background-color:white;
}


.news ul{
  margin-top:45px;
  margin-left:93px; 
  margin-right:auto;
  width:60%;
}



.news li{
  margin-bottom:20px;
}


.news li:first-child{
  font-size:14px;
  color:  #848484;
}


.news li:nth-child(2){
  font-size:18px;
   font-weight: 600;
  color: #2a4168;
}


.news li:nth-child(3){
  font-size:14px;
  color: #181818;
}

.news li:last-child{
  font-size:14px;
  font-weight: 600;
  color: #181818;
  text-align:right;
}


.news li:last-child:hover{
color: #d51313;
cursor: pointer;
}


.readmore-link{
  xxdisplay:inline;
  padding-top:5px;
  padding-bottom:10px;
  color: #181818;
}

.readmore-link:hover{
  color: #d51313;
}


/* ----------------------------- [PARTNERS] --------------------------- */
.partners {
  float: left;
  clear: both;
  width: 52.80625%;
  height: 326px;
  margin: 0px 0px 0px 23.59945%;
xxbackground:violet;
xxopacity:0.5;
}

.partners>ul{
  margin-top:35px;
}

 .partners>ul>li{
  display: inline-block;
 height: 200px; 
  width: 20%; 
  xxvertical-align: top; 
 xxborder: 1px solid black; 
  position: relative;

}


 .partners>ul span{
  xxdisplay: inline-block;
  vertical-align: middle;
  }

 .partners>ul img{
xxfloat:left;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}


 .partners>ul>li:nth-child(1) img{
xxwidth:90%;
margin-left:0;
}


 .partners>ul>li:nth-child(2) img{
width:95%;
margin-left:-10%;
}

.ouradvantages>ul a, .partners>ul a{
  color:black;
}




/* ----------------------------- [CONTACTS] --------------------------- */
.contacts {
clear: both;
height: 200px;
background:#203354;
color:white;
}


.contacts h2{
display: block;
padding-top: 36px;
padding-bottom: 15px;
}

.contacts-left{
display:block;
float:left;
width:50%;
height:100%;
background:#203354;
}


.contacts-left ul{
display:block;
float:right;
margin-right:5%;
xxmargin-top:10%;
font-family:Helvetica;
font-size:24px;
}

.contacts-left ul>li, .contacts-right ul>li{
text-align:justify;
margin-top:10px;
}

.contacts-left ul>li:first-child, .contacts-right ul>li:first-child{
text-align:center;
xxtext-decoration:underline;
padding-bottom:10px;
border-bottom-style:solid;
border-bottom-width:2px;
border-bottom-color:white;
}

.contacts-right{
display:block;
float:left;
width:50%;
height:100%;
background:#203354;
}

.contacts-right ul{
display:block;
float:left;
margin-left:5%;
xxmargin-top:10%;
font-family:Helvetica;
font-size:24px;
}

.sendmessage-button{
display:inline-block;
xxposition:absolute;
color:white;
padding: 10px 20px;
xxtext-align:center;
background-color:#9f0505;
font-family: Helvetica;
font-size:24px;
xxmargin:auto;
}

.butt-place{
display:block;
float:left;
width:100%;
background:#203354;
text-align:center;
xxmargin-bottom:34px;
padding-bottom:34px;
}



/* ----------------------------- [FOOTER] --------------------------- */
.footer {
display:inline-block;
  float: left;
  clear: both;
  xxwidth: 52.8124999999%;
width:100%;
  height: 52px;
  xxmargin-left: 23.59375%;
background:#15243f;
color:white;
}

.copyright{
display:block;
float:left;
width:50%;
xxheight:100%;
background:#15243f;
text-align:center;
xxmargin-top:15px;
padding-top: 18px;

font-family: Helvetica;
font-size: 14px;
}

.websitecreator{
display:block;
float:left;
width:50%;
xxheight:100%;
background:#15243f;
text-align:center;
xxmargin-top:15px;
padding-top: 18px;

font-family: Helvetica;
font-size: 14px;
}



/* ----------------------------- [1200 PX SET] --------------------------- */

@media screen 
  and (max-width : 1400px){ 
.logo-menu{
  width:178px;
  margin-left:0px;
}

  }

@media screen 
  and (max-width : 1200px){ 
.logo-menu{
  width:168px;
  margin-left:-15px;

}

.main-menu>ul>li:nth-child(2){
margin-left:-40px;
}


  }



@media(max-width: 1200px) {
  .ouradvantages,
  .partners {
    margin-left: 23.59896%;
  }
}




/* ----------------------------- [Mobile 480x800 SET] --------------------------- */
@media(max-width: 801px) and (orientation:landscape){
/* ----------------------------- [MAIN MENU 480x800] --------------------------- */
.main-menu {
  float: left;
  width: 98.9%;
  height: 110px;
  margin-left: 5.0%;
}


.main-menu>ul>li{
width:20%;
}


.main-menu>ul>li>a{
font-size:16px;
}


.logo-menu{
  position:absolute;
  display: block;
  margin-top:-40px;
  margin-left:-15px;
  z-index: 1000;
  width:170px;
  height:130px;
  padding:0px;
}


.ouradvantages, .partners {
  float: left;
  clear: both;
  width: 90%;
  height: 397px;
  margin-left: 5%;
  xxopacity:0.5;
}


.ouradvantages>ul>li, .partners>ul>li{
float:left;
width:25.0%;
text-align:center;
font-size:18px;
font-family:Helvetica;
}

.ouradvantages>ul img, .partners>ul img{
display:block;
width:123px; 
height:auto;    
margin-left: auto;
margin-right: auto;
}

.ouradvantages>ul a, .partners>ul a{
  color:black;
}

.ouradvantages>ul p{
  xxdisplay: block;
padding-top:27px;
xxxxopacity:0.5;
}


}


/* ----------------------------- [Mobile 480x800 SET] --------------------------- */
@media(max-width: 801px) and (orientation:portrait){
/* ----------------------------- [MAIN MENU 480x800] --------------------------- */
.main-menu {
  float: left;
  width: 95%;
  height: 110px;
  margin-left: 5.0%;
}


.main-menu>ul>li{
width:20%;
}


.main-menu>ul>li>a{
font-size:16px;
}


.logo-menu{
  position:absolute;
  display: block;
  margin-top:-30px;
  margin-left:0px;
  z-index: 100;
  width:170px;
  height:130px;
  padding:0px;
}

}


